@charset "utf-8";

/* modal */
.modal {
    max-width: 90vw;
    max-height: 90vh;
}

.modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 15;
}

@media screen and (min-width:768px) {
    .modal-container {
        justify-content: flex-start;
        align-items: center;
    }
}

/* 表示状態 */
.modal-container.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-content a {
    color: #0c090a;
}

/* モーダルの中身 */
.modal-content {
    position: relative;
    background-color: #f2f3f4;
    border: #212121;
    padding: 2rem;
    border-radius: .75rem;
    width: 100%;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(.95);
    transition: transform .3s ease;
    scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-img {
    max-width: 100%;
}

.modal-txt {
    font-size: 1rem;
    line-height: 1.6;
    color: #0c090a;
    text-align: center;
}

.modal-txt:nth-child(n+2) {
    margin-top: 3rem;
}

@media screen and (min-width:768px) {
    .modal-content {
        left: .25rem;
        max-width: 50vw;
    }

    .modal-img {
        max-height: 80vh;
    }

    .modal-txt {
        font-size: 1.25rem;
    }
}

/* 開いた時のアニメーション */
.modal.show .modal-content {
    transform: scale(1);
}

/* 閉じるボタン */
.close {
    background-color: #0c090a;
    color: #f2f3f4;
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    line-height: 1.6;
    cursor: pointer;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    z-index: 20;
}

.close:hover {
    opacity: .7;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1800deg);
        /* 360*5 → 1800 */
    }
}
