@charset "utf-8";

/* Variable */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-size: 16px;
}

body {
    font-family: "Figtree";
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    background: #0c090a;
    color: #808080;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    opacity: .7;
    transition: opacity .3s ease;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: .25rem;
    padding: 1rem;
    width: 90%;
    z-index: 10;
}

.logo,
.logo a {
    width: 2rem;
    max-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) {
    .header {
        width: 95%;
    }
}

/* HUMBERGAR MENU */
.check {
    display: none;
}

.menu-btn {
    --gap: 5px;
    --height-bar: 2px;
    --pos-y-bar-one: 0;
    --pos-y-bar-three: 0;
    --scale-bar: 1;
    --rotate-bar-one: 0;
    --rotate-bar-three: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    cursor: pointer;
    position: relative;
    background-color: #0c090a;
    padding: .5rem;
    border-radius: 1.5rem;
}

.open .menu-btn {
    background-color: transparent;
}

.bar {
    display: block;
    position: relative;
    height: var(--height-bar);
    width: 1.25rem;
    border-radius: .5rem;
    background-color: #f2f3f4;
    z-index: 10;
}

.open .bar {
    background-color: #0c090a;
}

.bar-1 {
    top: var(--pos-y-bar-one);
    transform: rotate(var(--rotate-bar-one));
    transition: top 200ms 100ms, transform 100ms;
}

.bar-2 {
    transform: scaleX(var(--scale-bar));
    transition: transform 150ms 100ms;
}

.bar-3 {
    bottom: var(--pos-y-bar-three);
    transform: rotate(var(--rotate-bar-three));
    transition: bottom 200ms 100ms, transform 100ms;
}

.check:checked+.menu-btn>.bar-1 {
    transition: top 200ms, transform 200ms 100ms;
}

.check:checked+.menu-btn>.bar-3 {
    transition: bottom 200ms, transform 200ms 100ms;
}

.check:checked+.menu-btn {
    --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
    --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
    --scale-bar: 0;
    --rotate-bar-one: 45deg;
    --rotate-bar-three: -45deg;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 5vh;
    background-color: rgba(229, 229, 229, .9);
    font-size: 1rem;
    transform: translateX(100%);
    transition: .1s ease;
}

.menu a {
    color: #f2f3f4;
    z-index: 10;
}

.menu a:hover img {
    display: block;
}

@media screen and (min-width:841px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        flex-direction: row;
        width: auto;
        height: 2rem;
        background-color: transparent;
        transform: none;
        gap: .5rem;
    }

    .menu li {
        background-color: #0c090a;
        height: 2rem;
        padding: .5rem 1.5rem;
        border-radius: 10rem;
    }
}

.open .menu {
    transform: translateX(0);
}

.open .menu li {
    height: auto;
    font-size: 15vw;
    padding: 0;
}

.open .menu a {
    color: #0c090a;
}

/* WORKS */
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-view {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background: #0c090a;
}

.view-left-half {
    width: 95%;
    height: calc(4rem - .25rem);
    border-radius: .75rem;
    margin: .25rem;
}

.sp-box {
    width: 100%;
    height: 100%;
    background-color: #f2f3f4;
    border-radius: .75rem;
}

.profile-inner {
    display: none;
}

.view-right-half {
    width: 95%;
    height: calc(98% - 4rem - .25rem);
    margin: .25rem;
    border-radius: .75rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width:768px) {
    .max-view {
        flex-direction: row;
        height: 100vh;
    }

    .view-left-half {
        width: 49%;
        height: 98%;
        border-radius: .5rem;
        position: sticky;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sp-box {
        background-color: transparent;
        display: none;
    }

    .profile-inner {
        display: flex;
    }

    .view-right-half {
        width: 49%;
        height: 98%;
        border-radius: .5rem;
    }
}

/* MAIN - LEFT */
.profile-inner {
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f3f4;
    line-height: 1.6;
    font-size: .75rem;
}

.profile-title {
    font-size: 1.5rem;
    font-weight: 300;
}

.profile-name {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.profile-name span {
    border-left: .1rem solid #f2f3f4;
    padding: 1rem 0;
    margin: 0 1rem;
}

.topic-list {
    text-align: center;
}

.topic-list dt {
    clear: left;
    float: left;
    width: 3rem;
    margin-right: 2rem;
}

.topic-list dd {
    overflow: hidden;
}

.profile-title,
.profile-name,
.topic-list,
.s-pr,
.s-pr p {
    margin-bottom: .5rem;
}

/* MAIN - RIGHT */
.works-grid {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    border-radius: .75rem;
    z-index: 5;
}

.box {
    width: 100%;
    height: 60vh;
    background-color: #f2f3f4;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:540px) {
    .box {
        height: 80vh;
    }
}

.title {
    font-family: "Figtree";
    font-size: 10vw;
    font-weight: 1000;
    letter-spacing: .5rem;
    color: #0c090a;
}

.category {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.category-btn {
    width: 100%;
    height: 10vh;
    background-color: #f2f3f4;
    border-radius: .75rem;
    font-size: 1rem;
    color: #0c090a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-btn:hover p {
    transform: scale(1.2);
    transition: transform .3s ease;
}

.categories {
    width: 100%;
    padding: 3rem;
    height: auto;
    display: none;
}

.open.categories {
    display: flex;
    justify-content: space-evenly;
    animation: slideUp .3s ease;
}

.open.categories .category-btn span {
    transform: rotate(360deg *5);
    transition: transform .3s forwards;
}

.tags-list,
.used-apps-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: "DM Sans";
    font-weight: 300;
}

.tags-list a,
.used-apps-list a {
    color: #f2f3f4;
}

.works-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media screen and (min-width:540px) {
    .works-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.works-item,
.more {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
    border-radius: .75rem;
    font-family: "Figtree";
    cursor: pointer;
    transition: background-color .3s ease;
}

.works-item:hover {
    background-color: transparent;
}

.works-item:hover .works-img img,
.more:hover .more img {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.works-item-inner {
    color: #0c090a;
}

.works-item:hover .works-item-inner {
    color: #f2f3f4;
}

.works-item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 70%;
    margin: .5rem 0;
}

.works-img {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f4;
    border-radius: .75rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

@media screen and (min-width:768px) {
    .works-img {
        height: 60%;
    }
}

.works-img img {
    max-width: 100%;
    max-height: 100%;
}

.works-item-txt {
    font-size: .75rem;
    opacity: .5;
}

.works-item-title {
    font-size: 1rem;
}

.tags {
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    gap: .1rem;
    margin-bottom: .1rem;
}

.used-apps {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    gap: .1rem;
}

.more {
    background-color: #0c090a;
    border-radius: .75rem;
}

.more img {
    width: 100%;
}

@media screen and (min-width:841px) {

    .works-grid,
    .box,
    .category-btn,
    .works-item,
    .works-img .more {
        border-radius: .5rem;
    }
}

.home {
    width: 100%;
    height: 10vh;
    background-color: #f2f3f4;
    border-radius: .75rem;
}

.home p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #0c090a;
    gap: 1rem;
}

.home img {
    height: 3vh;
}

.home a {
    color: #0c090a;
}

.home img:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

@media screen and (min-width:841px) {
    .home {
        border-radius: .5rem;
    }
}

/* ----------     FOOTER     ---------- */
.footer {
    width: 50vw;
    margin-top: 5rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sns-link-list {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
    padding: 2rem 0;
}

.sns-link-list img {
    width: 2rem;
    height: auto;
    border-radius: .5rem;
}

.footer-txt {
    font-size: .5rem;
    font-weight: 300;
    color: #f2f3f4;
}

@media screen and (min-width:768px) {
    .footer-txt {
        font-size: .75rem;
    }
}
